.App {
  text-align: center;
}

.card-grid {
  margin-top: 40px  ;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px auto;
  max-width: 800px;
}
.GAME{
  font-size: larger;
}
